
@media (min-width: 736px) and (max-width: 1199px) {

	.top-content .list-box { padding-left: 0; margin-top: 20px; }
	.top-content .list-box-icon { font-size: 40px; line-height: 40px; }
	.top-content .list-box h3, .top-content .list-box-description { width: 86%; }
	.top-content .list-box h3 { margin-bottom: 5px; }

	.more-features-box-text { margin-top: 30px; padding-left: 0; }
	.more-features-box-text:first-child { margin-top: 0; }

	.always-beautiful-box-text-left { padding-right: 0; }
	.always-beautiful-box-text-left:first-child { margin-top: 0; }

	.how-it-works-box-icon .how-it-works-step { left: 75px; }

	.testimonial-list .testimonial-image { width: 20%; }
	.testimonial-list .testimonial-text { width: 80%; }

  #video-text h2 {
    font-size: 2em;
    padding-top: 2em;
  }

  #watch-the-video h3 a{
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 2em;
    font-weight: 300;
  }
}

/* iPhone 4S and below */
@media only screen 
and (min-device-width: 320px)
and (max-device-width: 375px) {
  .main-heading { padding-bottom: 0em; }
  .inner-bg h1, h2 { 
    font-size: 2.0em; 
  }
  h3 { 
    font-size: 1.2em;
    text-align: left;
  }
  .app-features h3 {
    font-size: 1.3em; 
    text-align: center;
  }
  .app-features p, .app-features-box p {
    font-size: 0.8em; 
  }
	.navbar { padding-top: 0; }
	.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-inverse ul.navbar-nav li a:hover, .navbar-inverse ul.navbar-nav li a:focus { padding-bottom: 10px; border-bottom: 1px solid transparent; }

	.navbar-inverse ul.navbar-nav li a.btn-link-2 { margin-left: 15px; margin-right: 15px; }
	.navbar-inverse ul.navbar-nav li a.btn-link-2:hover,
	.navbar-inverse ul.navbar-nav li a.btn-link-2:focus,
	.navbar-inverse ul.navbar-nav li a.btn-link-2:active,
	.navbar-inverse ul.navbar-nav li a.btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); border: 1px solid #fff; color: #fff; }

	.inner-bg { padding: 0 0 0 0; }
  .top-content .top-big-link { margin-top: 30px; }
	.top-content .list-box { margin-top: 10px; padding-left: 0; text-align: center; }
	.top-content .list-box:first-child { margin-top: 10px; }
	.top-content .list-box-icon { float: none; display: inline-block; }
	.top-content .list-box h3 { float: none; width: auto; margin-top: 20px; }
	.top-content .list-box-description { float: none; width: auto; }
	.top-content .top-big-link button { 
    font-size: 0.9em;
    margin-top: 5px; 
  }

	.section-description p { padding: 0; }

  .more-features-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.more-features-box-text:first-child { margin-top: 50px; }
	.more-features-box-text-icon { float: none; display: inline-block; }
	.more-features-box-text h3 { float: none; width: auto; margin-top: 20px; }
	.more-features-box-text-description { float: none; width: auto; }

	.always-beautiful-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.always-beautiful-box-text-left { padding-right: 0; }

	.how-it-works-box-icon .how-it-works-step { left: 20px; }

  .pricing-box { padding-bottom: 50px; }
  .pricing-box:last-child { padding-bottom: 0; }

	.testimonial-list .testimonial-image { float: none; width: auto; text-align: center; }
	.testimonial-list .testimonial-text { float: none; width: auto; margin-top: 30px; text-align: center; }
	.testimonial-list .nav-tabs { margin-top: 20px; text-align: center; }
	.testimonial-list .testimonial-image .testimonial-icon { display: none; }

  #video-text {
    height: 240px;
  }

  #watch-the-video {
    height: 480px;
  }

  #watch-the-video h2 {
    padding-top: 0;
    font-size: 1.5em;
    padding-top: 2em;
  }

  #watch-the-video h3 {
    font-size: 1em;
    margin-top: 0;
    padding-bottom: 2em;
  }

  #brian {
    height: 240px;
    background-size: cover;
  }

  .app-features-container {
    padding-top: 20px;
  }
}

/* iPhone 5 */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px) {
  .main-heading h1, h3 { 
    padding-bottom: 0em; 
    font-size: 2.3em;
  }
  h3 { 
    font-size: 20px;
    text-align: left;
  }
	.navbar { padding-top: 0; }
	.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-inverse ul.navbar-nav li a:hover, .navbar-inverse ul.navbar-nav li a:focus { padding-bottom: 10px; border-bottom: 1px solid transparent; }

	.navbar-inverse ul.navbar-nav li a.btn-link-2 { margin-left: 15px; margin-right: 15px; }
	.navbar-inverse ul.navbar-nav li a.btn-link-2:hover,
	.navbar-inverse ul.navbar-nav li a.btn-link-2:focus,
	.navbar-inverse ul.navbar-nav li a.btn-link-2:active,
	.navbar-inverse ul.navbar-nav li a.btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); border: 1px solid #fff; color: #fff; }

	.inner-bg { padding: 0 0 0 0; }
	.top-content .list-box { margin-top: 30px; padding-left: 0; text-align: center; }
	.top-content .list-box:first-child { margin-bottom: 50px; }
	.top-content .list-box-icon { float: none; display: inline-block; }
	.top-content .list-box h3 { float: none; width: auto; margin-top: 20px; }
	.top-content .list-box-description { float: none; width: auto; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link button { margin-bottom: 10px; font-size: 1em;}

	.section-description p { padding: 0; }

    .more-features-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.more-features-box-text:first-child { margin-top: 50px; }
	.more-features-box-text-icon { float: none; display: inline-block; }
	.more-features-box-text h3 { float: none; width: auto; margin-top: 20px; }
	.more-features-box-text-description { float: none; width: auto; }

	.always-beautiful-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.always-beautiful-box-text-left { padding-right: 0; }

	.how-it-works-box-icon .how-it-works-step { left: 20px; }
    .pricing-box { padding-bottom: 50px; }
    .pricing-box:last-child { padding-bottom: 0; }

	.testimonial-list .testimonial-image { float: none; width: auto; text-align: center; }
	.testimonial-list .testimonial-text { float: none; width: auto; margin-top: 30px; text-align: center; }
	.testimonial-list .nav-tabs { margin-top: 20px; text-align: center; }
	.testimonial-list .testimonial-image .testimonial-icon { display: none; }

  .app-features-container {
    margin-top: 50px;
  }
}


/* iPhone6 and iPhone 6+ */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 746px) {
  .main-heading h1, .main-heading { 
    padding-top: 1em;
    font-size: 1.8em;
    padding-bottom: 1em;
  }
  h3 { 
    padding-top: 0em;
    font-size: 1.2em; 
    text-align: left;
  }

	.top-content .video, .top-content .list { float: none; width: auto; padding-left: 60px; padding-right: 60px; }
	.top-content .list-box { margin-top: 30px; padding-left: 0; text-align: center; }
	.top-content .list-box:first-child { margin-top: 50px; }
	.top-content .list-box-icon { float: none; display: inline-block; }
	.top-content .list-box h3 { float: none; width: auto; margin-top: 20px; }
	.top-content .list-box-description { float: none; width: auto; }

	.section-description p { padding: 0; }

	.more-features-box { float: none; width: auto; }
	.more-features-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.more-features-box-text:first-child { margin-top: 50px; }
	.more-features-box-text-icon { float: none; display: inline-block; }
	.more-features-box-text h3 { float: none; width: auto; margin-top: 20px; }
	.more-features-box-text-description { float: none; width: auto; }

	.always-beautiful-box { float: none; width: auto; }
	.always-beautiful-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.always-beautiful-box-text-left { padding-right: 0; }

	.how-it-works-box-icon .how-it-works-step { left: 40px; }

	.testimonial-list .testimonial-image { width: 25%; }
	.testimonial-list .testimonial-text { width: 75%; }

  .app-features-container {
    padding-top: 1em;
  }

  #watch-the-video h2 {
    padding-top: 0;
    font-size: 1.5em;
    padding-top: 2em;
  }

  #watch-the-video h3 {
    font-size: 1em;
    margin-top: 0;
    padding-bottom: 2em;
  }

  #brian {
    height: 240px;
    background-size: cover;
  }
}

/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 150px 48px !important;
    }

}
